@charset "UTF-8";

@import url(reset.css);

.centerbox{/* margin: 0 auto; */ margin-left: auto;  margin-right: auto; max-width: 1048px;}

.light{font-weight: lighter;}
.bold{font-weight: bold;}
.section_title{font-size: 25px; font-weight: 600;}

.wrap{max-width: 1920px; position: relative; margin: 0 auto;}  /* !! poa기준1 !! */

header{max-width: 1060px; margin: 0 auto;}
header .hd1{display: flex; justify-content: space-between; margin-top: 15px;}
header .hd1 span.sns{border: 1px solid #D0D0D0; padding:4px 3px 6px 8px; border-radius: 8px; font-size: 15px; display: flex; align-items: center;}
header .hd1 span.sns::after{content: ''; display: inline-block; width:13px; height: 13px; margin-left:4px; margin-bottom: -4px; background-image: url(../img/chevronRightHeader.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}
header .hd1 > ul{display: flex; gap: 20px; font-size: 15px; }
header .hd2{max-width: 1060px; text-align: center; margin:1px 0 47px;}
header .hd2 > img{width: 142px;}
header .hd3 .gnb{display: flex; justify-content: space-between; font-size: 18px; }

header .hd3 .gnb > .lnbbgbox{position: absolute; width:100%; height: 310px; z-index: 2; left: 0; top: 181px; transition: 0.3s; visibility: hidden;}

header .hd3 .gnb > li{position: relative; width: 100%;}  /* !! poa기준2 !! */
header .hd3 .gnb > li > a{display: inline-block; padding:0 30px 20px; transition: 0.3s;}
header .hd3 .gnb > li:first-child > a{padding-left: 0;}

header .hd3 .gnb > li > .lnb{position: absolute; top: 25px; left: 0; z-index: 5; height: 0; overflow: hidden; display: flex; flex-direction: column; width: 100%; visibility: hidden; background: #fff;  transition: 0.2s;}
header .hd3 .gnb > li > .lnb > li > a{font-size: 15px; padding-top:10px; display: inline-block; width: 100%; padding-left: 30px;}
header .hd3 .gnb > li:first-child > .lnb > li > a{padding-left: 0;}
header .hd3 .gnb > li > .lnb > li:first-child{margin-top: 20px;}

header .hd3 .gnb:hover > li > .lnb{height: 290px; visibility: visible; transition: 0.3s;}
header .hd3 .gnb:hover > .lnbbgbox{height: 290px;  background: #fff; transition: 0.3s; visibility: visible;}
header .hd3 .gnb:hover  li  a{color: #555;}
header .hd3 .gnb > li:hover > a{color: orangered;  border-bottom: 1px solid orangered;} 
header .hd3 .gnb > li > .lnb > li:hover > a{color: orange}

.hero{position: relative; max-width: 1920px; margin: 0 auto;}
.hero img{max-width: 1920px;}
.hero .searchbox{max-width: 1030px; width: 80%; margin-left: auto; margin-right: auto; border: 1px solid rgba(255, 244, 244, 0.8); border-radius: 50px; background: rgba(255, 244, 244, 0.2); backdrop-filter: blur(4px); display: flex; align-items: center; position: absolute; top: 21%; left:23%;
padding: 20px 50px;}
.hero .searchbox > input{flex-grow: 1; border: none; outline: none; background: transparent; font-size: 30px; color:#333;  line-height: normal;
  &::placeholder{color:rgba(255, 244, 244, 0.7);}
}
.hero .searchbox > button{border: none; background: transparent; cursor: pointer; margin-left: 15px; width: 40px;}   



section:first-child{margin-top: 150px;}
section{margin-top: 120px;}
section:last-child{margin-bottom: 150px;}

.section1{display: flex; justify-content: space-between;}
.section1 .mains1-1{width: 297px;}
.section1 > .mains1-1 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 8px;}
.section1 > .mains1-1 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover;}
.section1 .mains1-1 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 15px;}
.section1 .mains1-1 .lineLeft{display: flex; flex-direction: column;}
.section1 .mains1-1 .lineLeft .divide{font-size: 12px; color: #333;}

.section1 .mains1-2{width: 294px; position: relative;}
.section1 > .mains1-2 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 7px;}
.section1 > .mains1-2 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover;}
.section1 .mains1-2 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 31px;}

.section1 .mains1-2::before{content: ''; height: 220px; width: 1px; background: #e3e3e3; position: absolute; bottom: 0; left:-1.8vw}
.section1 .mains1-2::after{content: ''; height: 220px; width: 1px; background: #e3e3e3; position: absolute; bottom: 0; right: -1.8vw;}


.section1 .mains1-3{width: 295px;}
.section1 > .mains1-3 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 8px;}
.section1 > .mains1-3 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover;}
.section1 .mains1-3 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 15px;}


.section1 .mains1-3 .lineLeft{display: flex; flex-direction: column;}
.section1 .mains1-3 .lineLeft .divide{font-size: 12px; color: #333;}
.section1 .mains1-3 .lineRight{font-size: 12px; padding: 3px 11px; background: #F3F3F3; border-radius: 4px;}
.section1 .mains1-3 .lineRight > a{color: #5a6169;}
.section1 .mains1-3 .lineRight.ing{background: #EE741E;}
.section1 .mains1-3 .lineRight.ing > a{color: #fff; font-weight: 600;}

.section1 .mains1-3 .lineRight.ing:hover{background: #F68433;}







.section2{width: 100%; height: 605px; background: url(../img/main/section2_bg.png); display: flex; align-items: center; flex-direction: column;}
.s2title{text-align: center; padding:56px 0 40px;}
.togglebox{display: flex; gap: 10px; position: absolute; top: -60px; right: 5px;}
.togglebox {}
.cardBox{display: flex; gap:18px; position: relative; width: 1050px; overflow: hidden;}   /* 추천책 여러개로 늘리고 토글로 넘길때 쓰려고 overflow hidden 이랑 width 줌 */
.cardBox .card{width: 337px; height: 425px; border-radius: 8px; background: rgba(255, 255, 255, 0.6); display: flex; align-items: center; justify-content: center; border: 1px solid rgba(185,185,185, 0.4); transition: 0.3s;}
.cardBox .card img{width: 243px;}

.cardBox:hover .card{transform: scale(0.9);}
.cardBox .card:hover{background: rgba(255, 255, 255, 0.8); border: 1px solid rgba(255,255,255, 1); transform:scale(1);}







.section3{display: flex; height: 150px; gap: 5px;}
.section3 .s3left{width: 350px; background: #ee741e; padding: 15px 20px 11px 80px; display: flex; flex-direction: column; align-items: end; box-sizing: border-box;}
.section3 .s3left .s3title{font-size: 25px; font-weight: lighter; color: #fff; flex-grow: 1;}
.section3 .s3left .s3desc{font-size: 16px; color: #fffcfa; margin: 4px 0; text-align: right;}

.section3 .s3right{flex-grow: 1; background:#FEFFF0; display: flex; justify-content: space-between;}
.section3 .s3right .s3title{font-size: 25px; font-weight:lighter; color: #ce723b; padding: 15px 0 0 20px; box-sizing: border-box; /* width: 150px; */ flex-grow: 1; }
.section3 .s3right .s3content{display: flex; flex-wrap: wrap; margin-right: 35px; gap: 0 30px;  width: 500px; margin-top: 23px;}
.section3 .s3right .s3content .line{flex-grow: 1; width: 40%; box-sizing: border-box; display: flex; justify-content: space-between; /* width: 245px; */}
.section3 .s3right .s3content .line .time{color: #454240;}



.s4title{text-align: center; margin-bottom: 40px;}
.section4 .grid{display: grid; grid-template-columns:1fr 1.3fr 1.3fr 1.3fr; grid-template-rows: 180px 150px 166px ; gap:20px;}

  /* 여기하는 중 */
.section4 .grid li:nth-child(1){grid-row: span 2; background: #EE741E; box-shadow:0 2px 2px rgba(0, 0, 0, 0.25);}
.section4 .grid li:nth-child(2){grid-column: span 2; background: url(../img/main/s4-1.jpg); background-size: cover;}
.section4 .grid li:nth-child(3){background: url(../img/main/s4-2.jpg); background-size: cover;}
.section4 .grid li:nth-child(4){grid-column: span 3; background: url(../img/main/s4-3.jpg); background-size: cover;}
.section4 .grid li:nth-child(5){grid-column: span 2; background: url(../img/main/s4-4.jpg); background-size: cover;}
.section4 .grid li:nth-child(6){grid-column: span 2; background: #FEFFF0; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); position: relative;}


.section4 .grid li a{font-size: 30px; font-weight: lighter; margin:20px 0 0 20px; display: flex; box-sizing: border-box;}
.section4 .grid > li:nth-child(6) > a{font-size: 30px; font-weight: lighter; 
position: absolute; bottom: 20px; right: 20px;}
.section4 .grid li:nth-child(1) a{color: #fff;}



footer{height: 230px; background: #3E3734; display: flex; align-items: center; justify-content: center;}
footer > p{font-size: 14px; color: #fff; width: 378px;}
